.proContainer{
  margin: 70px 0;
}

.packList{
  position: relative;
  margin-top: 60px;
}

.img{
  position: relative;
  float: left;
  margin: 20px 0 60px;
  /* max-width: 180px; */
  width: 100%;
  height:auto;
}
.h2 {
  position: fixed;
  background: white;
  width:41%;
  top:55px;
  left: 0;
  padding: 10px;
  padding-bottom: 1px;
  font-size: 200%;
  text-align: center;
  z-index:2
}
.h3 {
  text-align: center
}

.status, .status2, .status3{
  position: absolute;
  float: right;
  color: black;
  right:20px;
  top:10px
}

.status2 {
  top:30px
}

.status3 {
  top:50px
}

.pg404 {
  padding: 10%
}

.user-header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.fadeBtn {
  position: absolute;
  float: right;
  color: white;
  right:10px;
  bottom:10px
}

.mapContainer {
  position: fixed;
  width:50%;
  height: 100vh;
  border: 1px;
}
@media(max-width:768px){
  .mapContainer {
    position: relative;
    width:100%;
    height: auto;
  }
  .h2 {
    width:100%;
  }
}

.googleMap {
  /* position: relative; */
  width:80%;
  height: 50%;
  margin: 0 10%;
  border-radius: 10px;
  background: rgba(190, 190, 190, 0.5)
}